<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>统计平台</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<style type="text/css">
	.btn-group{
		padding:0;
	}
	.col-md-6{
		padding-right:0；
	}
</style>
</head>
<link rel="stylesheet" type="text/css" href="css/style.css?vr=137">
<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="">统计平台</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="main-menu-li active">
					   <a href="javascript:;" id="statisticsMain" class="main-menu">统计</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="wrapper">
		<div id="main">
			<div class="row marginTop">
				<form class="form-inline">
		  			<div class="form-group marginLeftAndRight">
		    			<label class="searchKeyMargin">标题</label>
		    			<input type="text" id="searchTitle" class="form-control searchValueMargin" placeholder="模糊搜索">
		  			</div>
		  			<div class="form-group marginLeftAndRight">
		    			<label class="searchKeyMargin">渠道</label>
						<select id="channelList"  class="form-control searchValueMargin"></select>
		  			</div>
		  			
				    <div class="form-group marginLeftAndRight">
		    			<label class="searchKeyMargin">时间</label>
     					<button id="beginTime" type="button" class="btn btn-default">2017-01-01</button>
     					to
     					<button id="endTime" type="button" class="btn btn-default">2017-01-01</button>
     				</div>
					<button id="searchStatistics" type="button" class="btn btn-success">查找</button>
				</form>
			</div>
			<div id="videoListTmpl">
			</div>
		</div>
	</div>
	
	<script id="statisticsMainTmpl" type="text/x-jquery-tmpl">
	  <div class="row marginTop">
	    <table class="table table-striped">
	      	<thead>
	        	<tr>
	          		<th>标题</th>
					<th>渠道</th>
					<th>上传时间</th>
	          		<th>播放量</th>
					<th>操作</th>
	        	</tr>
	      	</thead>
			<tbody>
				{{each(i,video) body.videos}}
					<tr>
	          			<td><a href="${video.link}" target="_black">${video.title}</a></td>
						<td>${video.channel}</td>
						<td>${video.uploadTime}</td>
						<td>${video.playCount}</td>
	          			<td>
							<button type="button" class="btn btn-info btn-xs showChartBtn">查看图表</button>
						</td>
	        		</tr>
				{{/each}}
			</tbody>
	    </table>
	  </div>
	  <div class="row">
    	<ul class="pager">
     	   	<li class="{{if body.hasPrePage == 0}}disabled{{/if}}" id="prePage"><a href="#">上一页</a></li>
			<li class="{{if body.hasNextPage == 0}}disabled{{/if}}" id="nextPage"><a href="#">下一页</a></li>
    	</ul>
	  </div>
	</script>
	<script id="channelListTmpl" type="text/x-jquery-tmpl">
		<option value="所有渠道" selected="selected">所有渠道</option>
        {{each(i, channel) channels}}
			<option value="${channel}" >${channel}</option>
       	{{/each}}
    </script>
  		
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/jquery.tmpl.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/statisticsHome.js"></script>
  	<script src="js/plugins/laydate/laydate.js"></script>
  		
    <script>
		$("#beginTime").html(laydate.now(-7));
  		$("#endTime").html(laydate.now(0));

  	  $(document).ready(function(){
  			/* fillBoardData();
  			$('li.getStatisticsInfoList.active').click(); */
  			/* $('.nav>li').click(function(){
  					$(this).parents('ul').find('li.active').removeClass('active');
  					$(this).addClass('active');
  				}); */
  			/* $('#getAppList').change(); */
  			   
  				laydate({
  				    elem: '#beginTime',
  				    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
  				    festival: true ,//显示节日,
  				    /* choose:function(){
  				    	$('li.userType.active').click();
  				    } */
  				});
  				
  				laydate({
  				    elem: '#endTime',
  				    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
  				    festival: true ,//显示节日
  				    /* choose:function(){
  				    	$('li.userType.active').click();
  			    } */
  				});
  			
  	 });	
  	</script>

</body>
</html>
