body{
   margin: 0px;
   padding: 60px 0 0 0;
   //text-align: center;
   background: #FFF;
   color: #000;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
#wrapper{
  width:100%;
}
#main{
  width:70%;
  margin:0 auto;
  height:500px;
}
.itemWidth{
  width : 33%;
}

.itemVertical {
    vertical-align: -webkit-baseline-middle;
}

.marginTop{
  margin-top: 10px;
}

.marginTopForVideoList{
  margin-top: 20px;
}

.marginLeftAndRight{
  margin-left: 0px;
  margin-right: 80px;
}

.timeWidth {
	width : 40%;
}

.alignRight{
  margin-right: 8px;
  float: right;
}

.searchKeyMargin{
  /* margin-right: 5px; */
  line-height:34px;
  width:2.4em;
  text-align:center;
}

.searchValueMargin{
  width: 120px;
}

.clue{
  text-align: left;
  margin-left: -23px;
  padding-top: 5px;
  font-size: 12px;
  color: red;
}
.triggerListTable{
	 word-wrap: break-word;
	 word-break: break-all;"
}

.tableTdWidth{
  width: 350px;
}

.itemColor{
	color: red;
}

/* .navbar-nav>.active>a:hover */
.navbar-nav>.active>a {
	background-color : #31708f
}

.fr{
	float:right;
}

.clearifx:after{
	content:'.';
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.row .form-inline .titleArea{
	display:flex;
}
.titleArea label{
	margin-right:5px;
}
.titleArea input[type=text]{
	flex:1;
}

.laydate_box, .laydate_box * {
	box-sizing:content-box;
}
